# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
lovely
.lovelyignore
Buffoonery-1.2.1
Dark and Colorful
DebugPlus-master
Galdur-1.2
KusoMods
Malverk
smods
Ultrakill
*.zip
# End of https://www.toptal.com/developers/gitignore/api/obsidian
